html{
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 16px;
    background-color: #fff;
}
header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) , url(../images/hero.jpg) ;
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo{
    height: 100px;
    margin-top: 20px;
}
.nav{
    float: right; list-style: none;
}
.nav li{ 
    display: inline-block;
    margin-left: 40px;
    margin-top: 30px;
   

}
.nav li a{
    margin-top: 30px;
    text-transform: uppercase;
    text-decoration: none; color: white;
    font-size: large;
}
.nav li a:hover{
    text-decoration: underline;
    color: orange;
}
.hero{
    position: absolute;
    top: 40%;
}
h1{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 300; 
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;

}
.btn{
    border: solid 1px orange;
    padding: 8px 20px;
    margin-right: 5px;
    border-radius: 20px;
    text-decoration: none;
    color:orange ;
}
.btn:hover{
   background-color: orange; 
   color: #fff;
}
section{
    padding: 40px 0px;

}
h2{
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400; 
    margin-top: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
hr{
    width: 100px;
    border: solid .7px orange;
    background-color: orange;
}
.features-desc{
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

.feature h3{
    font-weight: 300;
}
.feature{
    text-align: center;
}
.feature i{
    font-size: 200%;
    color: orange;
}
.meal{
padding: 0px;
margin-bottom: -5px;
background-color: #333;
overflow: hidden;
}
.meal img{
    width: 100%;
    opacity: .7;
    transform: scale(1.1);
    transition: .5s;
    
}
.meal img:hover{
    width: 100%;
    opacity: 1;
    transform: scale(1.2);
    
}
.work:first-child{
    text-align: right;
    padding-right: 5%;

}
.work:first-child img{
    width: 50%;
    padding-top: 30px;
    
}
.work:last-child{
    text-align: left;
    padding-left: 5%; 
    padding-top: 50px;
}
.step{
display: flex;
align-items: center;
}
.step h4{
    color: orange;
    font-weight: 200;
    font-size: 1.2rem;
    border: solid 2px orange;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
.step p{
    margin-left: 20px;
}
.btn-img{
  padding-top: 40px;
}
/* .city img{ */
    /* margin-bottom: 15px; */
/* } */
.city-info{
    margin-bottom: 10px;
}
.city-info i{
    color: orange;
    margin-right: 10px;
}
.city h3{
 font-weight: 500;
 font-size: 1.3rem;
}
#testimonials{
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)) , url(../images/back-customers.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}
#testimonials i {
    font-size: 50px;
}
#testimonials p{
    line-height: 1.5;
}
#testimonials img{
    width: 70px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
form{
    padding-top: 60px;
}
label{
    margin-bottom: 7px;
    vertical-align: middle;
    line-height: 2.5;
}
input[type=text],input[type=email],select{
    margin-bottom: 7px;
    margin-right: 30px;
    padding: 7px;
    border-radius: 5px;
}
input[type=checkbox]{
    margin-top: 10px;
    /* margin-left: 50px; */
}
textarea{
    border-radius: 5px;
    
}

button{
    margin-top: 10px;
border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    border: 1px  orange;
    color: #fff;
    background-color: orange;
}
button:hover{
    color: #333;
    background-color: #fff;
}
footer{
    background-color: #333;
    height: 10vh;
}
.social-nav,.footer-nav{
    list-style: none;
    display: flex;
}
.social-nav{
    float: right;
}
.social-nav li,.footer-nav li{
margin-right: 20px;
padding-top: 12px;

}
.social-nav a,.footer-nav a{
    color: #fff;
    opacity: 0.6;
    text-decoration: none;
}
.social-nav i,.footer-nav i{
   font-size: 1.3rem;
   padding: 0px 5px;
}
.social-nav a:hover,.footer-nav a:hover{
    color: #fff;
    opacity: 1;
}













@media only screen and (max-width: 600px) {
    .work:first-child{
        text-align: center;
      
    }
  }


